	<script src="/scripts/jquery.min.js" type="text/javascript"></script>
	<script src="/js/main.js" type="text/javascript"></script>
</body>
</html>

<!-- /Users/lcsharp/Documents/projects_in_express_js/todo_app/node_modules/jquery/dist/jquery.min.js -->